body {
  margin: 0;
  border: 0;
  padding: 0;
  background-color: rgb(30,30,30);
  width: 100%;
  height: 100%;
  overflow: hidden;
}

img {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  border: 0;
  padding: 0;
  display: block;
  position: relative;
  -webkit-transition: all .1s;
}

  img:hover {
    -webkit-box-shadow: 0 0 70px rgba(0,0,0,0.5);
    box-shadow: 0 0 70px rgba(0,0,0,0.5);
    -webkit-transition: all .3s;
    z-index: 1;
  }

a {
  margin: 0;
  border: 0;
  display: block;
  float: left;
  position: relative;
}

/* Responsive */

@media only screen and (max-width: 699px) {
  a {
    width: 100%;
  }
}

@media only screen and (min-width: 700px) and (max-width:1049px) {
  a {
    width: 50%;
  }
}

@media only screen and (min-width: 1050px) and (max-width:1399px) {
  a {
    width: 33.33%;
  }
}

@media only screen and (min-width: 1400px) and (max-width:1749px) {
  a {
    width: 25%;
  }
}

@media only screen and (min-width: 1750px) and (max-width:2099px) {
  a {
    width: 20%;
  }
}

@media only screen and (min-width: 2100px) and (max-width:2449px) {
  a {
    width: 16.66%;
  }
}

@media only screen and (min-width: 2450px) and (max-width:2800px) {
  a {
    width: 14.29%;
  }
}


/* minimum individual height 263px*/
@media only screen and (max-height: 525px) {
  a {
    height: 100%;
  }
}

@media only screen and (min-height: 526px) and (max-height: 788px) {
  a {
    height: 50%;
  }
}